<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about">About</a></li>
</ul>
<!--Every component has this if you look at their ts inside the @component, the selector property  <app-home></app-home>-->
<router-outlet></router-outlet>
