textarea{
    width: 100%;
}

.img-thumbnail{
    margin:25px;
    width:85%;
    height:85%;
}

.card-body{
    padding: 0 25px;
}

.card-footer{
    padding: 10px 15px;
    background-color: #fff;
    border-top:none;
}